<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="changeset" md-is-locked-open="true" flex="30">
  <md-toolbar layout="row" layout-align="center center">
    <h1>Change Sets</h1>
  </md-toolbar>
  <md-content>
    <md-list>
      <md-item ng-repeat="change in changes">
      <md-item-content>
          <div class="md-tile-content">
                <h3>{{change.subject}}</h3>
                <h4>{{change.owner.name}}</h4>
                <p>project: {{change.project}}</p>
                <p>updated: {{change.updated.split('.')[0]}}</p>
                <p>changeId: {{change.change_id}}</p>
          </div>
          <div class="md-tile-right">
            <h2 style="float:left">+1</h2>
            <img src="/images/robot.png">
            <img src="/images/jenkins-pass.png">
          </div>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</md-sidenav>
<md-content layout="column" layout-fill style="padding-left: 2em">
    <!-- <section layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="getChangesets()">get changesets</md-button>
        <md-button class="md-raised md-primary" ng-click="getComments()">get comments</md-button>
    </section> -->
    <md-list flex>
        <md-item ng-repeat="change in changes">
            <md-item-content layout="column" layout-align="start start">
                <h1>{{change.subject}}</h1>
                <md-list>
                    <md-item ng-repeat="(file, comments) in change.files">
                        <md-item-content layout="column" layout-align="start start">
                        <h3><span class="glyphicon glyphicon-file"></span>{{file}}</h3>
                        <md-list>
                            <md-item ng-repeat="comment in comments">
                                <p>{{comment.message}}</p>
                                <md-list>
                                    <md-item ng-repeat="reply in comment.children">
                                        <p> <span class="glyphicon glyphicon-chevron-right"></span> {{reply.message}}</p>
                                    </md-item>
                                </md-list>
                            </md-item>
                        </md-list>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-item-content>
            <md-divider ng-if="!$last"></md-divider>
        </md-item>
    </md-list>

</md-content>
