<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="changeset" md-is-locked-open="true" flex="30">
	<md-toolbar layout="row" layout-align="center center">
		<h3>Change Sets</h3>
	</md-toolbar>
	<md-content>
		<md-list>
			<md-item ng-repeat="change in changes">
			<md-item-content ng-click="select(change)" class="gerrit-change">
					<div class="md-tile-content">
								<h3>{{change.subject}}</h3>
								<h4>{{change.owner.name}}</h4>
								<p>project: {{change.project}}</p>
								<p>updated: {{change.updated.split('.')[0]}}</p>
								<p>changeId: {{change.change_id}}</p>
					</div>
					<div class="md-tile-right" style="padding-right:0.8em">
						<h2 style="float:left">{{change.reviewGrade}}</h2>
						<img src="/images/robot-pass.png" ng-show="change.robotGrade == 1">
						<img src="/images/robot-fail.png" ng-show="change.robotGrade == -1">
						<img src="/images/jenkins-pass.png" ng-show="change.jenkinsGrade == 1">
						<img src="/images/jenkins-fail.png" ng-show="change.jenkinsGrade == -1">
					</div>
			</md-item-content>
			<md-divider ng-if="!$last"></md-divider>
			</md-item>
		</md-list>
	</md-content>
</md-sidenav>
<md-content layout="column" layout-fill style="padding-left: 1em">
	<md-slider md-discrete ng-model="globaltimestamp" step="1" min="1418086800" max="1418234400" aria-label="rating" style="margin-top: 2em; padding-right: 1em">
    </md-slider>
	{{ globaltimestamp | unixdate }}
	<md-whiteframe class="md-whiteframe-z1">
	<div ng-repeat="news in newsfeed | orderBy:'-timestamp' | filter:isNotLastAuthor | filter:isNotEmpty">
		<md-toolbar>
			<h1 class="md-toolbar-tools">
			  <span>{{ news.change }}</span>
				<md-button ng-href="http://git.ullink.lan:8080/#/c/{{news.gerritId}}/" target="_blank" class="md-raised md-primary" aria-label="Comment">
					Go to Gerrit
				</md-button>
				<md-button ng-click="news.expanded = true" class="md-raised md-primary" aria-label="Comment">
					Expand thread
				</md-button>
			</h1>
		</md-toolbar>
		<div class="gerrit-filename">
			<span class="glyphicon glyphicon-file" style="padding-right:0.5em"></span>{{news.file}}
		</div>
		  <md-content>
			<md-list>
			  <md-item ng-repeat="comment in news.comments | orderBy:'timestamp' | filter:isExpanded">
				<md-item-content>
				  <div class="md-tile-content">
					<p>
					  <strong>{{comment.authorName}}:</strong> {{comment.message}}<br>
						{{comment.timestamp | formatmoment}}
					</p>
				  </div>
				</md-item-content>
				<md-divider ng-if="!$last"></md-divider>
			  </md-item>
			</md-list>
		  </md-content>
	</div>
  	</md-whiteframe>
<!--<md-list>-->
		<!--<md-item ng-repeat="(id, news) in newsfeed">-->
				<!--<md-item-content>-->
						<!--<div class="md-tile-content">-->
								<!--<h3>{{news.message}}</h3>-->
								<!--<h4>{{news.timestamp.split('.')[0]}}</h4>-->
								<!--<p>{{news.file}}</p>-->
						<!--</div>-->
				<!--</md-item-content>-->
				<!--<md-divider ng-if="!$last"></md-divider>-->
		<!--</md-item>-->
<!--</md-list>-->
</md-content>
